{% extends 'base.html' %}

{% block content %}
<style>
  
  .create-task-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
  }

  .create-task-form {
    max-width: 400px;
    padding: 30px 45px 30px 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .create-task-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .create-task-form label {
    font-weight: bold;
    color: #555;
  }

  .create-task-form input[type="text"],
  .create-task-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
  }

  .create-task-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
  }

  .create-task-form input[type="checkbox"] {
    margin-bottom: 15px;
    transform: scale(1.2);
  }

  .create-task-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .create-task-form button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .create-task-form textarea[name="description"] {
  height: 60px;
}
</style>

<div class="create-task-page">
  <form class="create-task-form" method="POST">
    {% csrf_token %}
    <h2>Create New Task</h2>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
</div>
{% endblock %}